*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section{
    background: pink;
    height: 100%;
    width: 100%;
}

.textos{
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
}

.conteiner{
    display: flex;
    justify-content: center;
    align-items: center;
}